@model IEnumerable<MVC.Models.Perifericos>

@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombrePeriferico)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IpAdress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MacAdress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombrePeriferico)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IpAdress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MacAdress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdPeriferico">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdPeriferico">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdPeriferico">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
